.main-btn {
    display: inline-block;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
    padding: 0px 36px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 48px;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms linear 0s; }
    .main-btn:hover {
      background-position: right center;
      color: #fff; }

      #oi-menu{
        // background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
      background-color: #1345e6;
        outline: none !important;
        color: white;
        padding: 0 14px;
        border: none !important;
        border-radius: 5px;
        transition: all 300ms linear 0s; 
      }